*{
  margin:0;
  padding:0;
}
body{
  text-align: center;
}
.wrapper{
  width:1170px;
  margin:0 auto;
}
header{
  width:100%;
  height:700px;
  background-image: linear-gradient(rgba(0 ,0, 0, 0.5),rgba(0, 0, 0, 0.5)),url("banner.jpg");
  background-size: cover;
  background-position: center center;
  position:relative;
}
.logo
{
  width:25px;
  float:left;
  line-height:100px;
  position: absolute;
  
}
.logo img {
  height:100px;
margin-top:10px;
margin-left:10px;
}
ul{
  float:right;
list-style-type: none;
margin-top:25px;

}
.search-box {
  position: absolute;
    /* top: 50%; */
    left: 91%;
    margin-top: -19px;
    transform: translate(-50%,-50%);
    /* background: black; */
    height: 50px;
    /* border-radius: 50px; */
    padding: 10px;
    z-index: 2;
}

.search-btn {
  color: white;
  float: right;
  width: 50px;
  height: 50px;
  border-radius: 50%;
 
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 2s;
}

.fa-search {
 
  font-size: 24px;
}

.search-input {
  background: none;
    /* outline: none; */
    /* float: left; */
    padding: 0;
    color: white;
    font-size: 20px;
    transition: 0.4s;
    line-height: -35px;
    /* width: 0; */
    width: 151px;
    margin-top: 8px;
    margin-left: -20px;
    z-index: 3;
    position: absolute;}

.search-box:hover > .search-input {
  width: 250px;
  padding: 0 7px;
}


ul li{
display:inline-block;
}
ul li a{
 text-decoration: none;
  font-family:'Roboto', sans-serif;
  padding: 10px ;
  color:#fff;
text-transform: uppercase;
  transition: 0.6s ease;


}

ul li a:hover{
  background-color:white;
  color:#000;
  
}
ul li .active a{
  background-color:white;
  color:#000;
}
.heading1{
  position:absolute;
  z-index:2;
  margin-top:px;


}

.heading2{
  position:absolute;
  z-index:2;
  margin-top:px;
}

.heading3{

  position:absolute;
  z-index:2;
  margin-top:px;

}
h3{
  text-align: left;
  color:white;
  font-weight: normal;
}

p{
  text-align: left;
  color:white;
  margin:0;
}
h2{
  text-align: left;
}

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;700&display=swap');
.counter_wrapper{width:100%;padding-top:20px;padding-bottom:100px;font-family: 'Poppins', sans-serif;}
.counter_wrapper .count_box{padding:50px 20px;border:2px solid #dc4225;border-radius:10px;text-align:center}
.counter_wrapper .count_box h3{font-size:40px;font-weight:600;color:#222;-webkit-transition:all .5s;-o-transition:all .5s;-ms-transition:all .5s;-moz-transition:all .5s;transition:all .5s}
.counter_wrapper .count_box h4{font-size:15px;font-weight:300;text-transform:uppercase;color:#313131;padding-top:10px;-webkit-transition:all .5s;-o-transition:all .5s;-ms-transition:all .5s;-moz-transition:all .5s;transition:all .5s}
.counter_wrapper .box_center{background:linear-gradient(to bottom right,#002f4b,#dc4225);background-position:center 0;background-size:cover}
.counter_wrapper .box_center h3,.counter_wrapper .box_center h4{color:#fff;-webkit-transition:all .5s;-o-transition:all .5s;-ms-transition:all .5s;-moz-transition:all .5s;transition:all .5s}
.counter_wrapper .box_hover:hover{background:linear-gradient(to bottom right,#002f4b,#dc4225);background-size:cover;-webkit-transition:all .3s ease;-moz-transition:all .3s ease;-o-transition:all .3s ease;-ms-transition:all .3s ease;transition:all .3s ease}
.counter_wrapper .box_hover:hover h3,.box_hover:hover h4{color:#fff}
@media(max-width:768px){.counter_wrapper .col-md-4{margin-bottom:15px}}


.banner-area {
  height:700px;
  width:100%;
  margin-top:100px;
  background-image: url("story.jpg");
  background-position: center center;
  background-size: cover;
 
}
.button{
  margin-top: 30px;
  margin-left: 40px;
  width:300px;
}
.footer
{ margin-top: 60px;
  width:100%;
  height:300px;
  background-color:#05031C;
  position: relative;
}
.footer .footer-content{
  border:1px solid white hidden;
  height:300px;
  display:flex;

}
.footer-section img{

width:150px;
height:200px;
float:center;
}
.footer-section p{
  margin-top:10px;
  font-size: 15px;
  font-family:'Roboto',sans-serif;
  color:white;
  float:left;
  margin-left:-1em;
}
.footer-section .contact{
  margin-top:10px;
  float:left;
  color:white;
  font-size: 15px;
  font-family: 'Roboto',sans-serif;
  margin-left:-1em;
}
.footer .footer-content .footer-section{
  flex:1;
  padding:25px;
  border:1px solid white hidden;
}
.footer-section h2{
 margin-left:50px;
  margin-top:30px;
font-size:30px;
font-family:'Roboto',sans-serif;
float:left;
color:white;
}
.footer-section ul li{

  font-family:'Roboto',sans-serif;
  float:left;
  color:white;
  margin-right:350px;
  text-decoration: underline;
  text-align:left;
  margin-left:50px;
}
.footer-section ul li a{
   text-align: left;
  float:left;
}
.footer-section .text-input{
  width:300px;
  margin-top:20px;
  margin-left:0px;
margin-right:200px;
  float:left;
}
.footer-section .btn{
  background-color:#100E47;
  width:90px;
  color:white;
 float:left;
 margin-left:0px;
 text-align:center;
 margin-top:20px;
}
.footer-bottom{
  background-color:#09082B;
}

@media(max-width:768px){
  header{
     width:100%;
  height:1260px;
  background-image: linear-gradient(rgba(0 ,0, 0, 0.5),rgba(0, 0, 0, 0.5)),url("banner.jpg");
  background-size: cover;
  background-position: center center;
  position:relative;

  }

  .logo
{
  width:15px;
  float:left;
  line-height:100px;
  position: absolute;
  
}
.logo img {
  height:80px;

margin-left:10px;
}
ul{
  float:left;
list-style-type: none;
margin-top:25px;

}
ul li{
display:inline-grid;
}
ul li a{
 text-decoration: none;
  font-family:'Roboto', sans-serif;
  padding: 10px ;
  color:#fff;
text-transform: uppercase;
  transition: 0.6s ease;



}

ul li a:hover{
  background-color:white;
  color:#000;
  
}
ul li .active a{
  background-color:white;
  color:#000;
}
.heading1{
  position:absolute;
  z-index:2;
  margin-top:-4em;
  margin-left: 100px;
}
.heading2{
  position:absolute;
  z-index:2;
   margin-top:-4em;
  margin-left: -64px;
}
.heading3{
  position:absolute;
  z-index:2;
margin-left:-6em;
padding-top: 49px;
}
h3{
  text-align: center;
  color:white;
  font-weight: normal;

}

p{
  text-align: center;
  color:white;
  margin:0;
}
#whyus{
  margin-top: -40em;
}
#team{
  margin-top: -17em;
}
#story{
  margin-top: 90px;
}
h2{
  text-align: center;
}
#soc{
  margin-left:100px;
}
#par{
  margin-left: 120px;
  border-right: none;
}
#aug{
 margin-left: 33px;
 margin-top: -20px;
}
#lat{
  margin-top: -132px;
  margin-left: -10px;
}
#dir{
  margin-left: 46px;
}
#sep{
  margin-left:31px;
}
#jan{
  margin-top: -133px;
}
#oct{
  margin-left:60px;

}
#jun{
  margin-right: 86px;
    margin-top: -49px;
}
#dec{
  margin-right: 17px;
    
    /* margin-left: 369px; */
    padding-left: 193px;
}
#nov{
  margin-top: -135px;
}
#feb{
  display: inline-table;
    font-size: 12px;
    background-color: white;
    width:290px;
}
#mon{
  margin-left: 220px;
}
#ross{
  margin-left: -20px;
}

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;700&display=swap');
.counter_wrapper{width:100%;padding-top:20px;padding-bottom:100px;font-family: 'Poppins', sans-serif;}
.counter_wrapper .count_box{padding:50px 20px;border:2px solid #dc4225;border-radius:10px;text-align:center}
.counter_wrapper .count_box h3{font-size:40px;font-weight:600;color:#222;-webkit-transition:all .5s;-o-transition:all .5s;-ms-transition:all .5s;-moz-transition:all .5s;transition:all .5s}
.counter_wrapper .count_box h4{font-size:15px;font-weight:300;text-transform:uppercase;color:#313131;padding-top:10px;-webkit-transition:all .5s;-o-transition:all .5s;-ms-transition:all .5s;-moz-transition:all .5s;transition:all .5s}
.counter_wrapper .box_center{background:linear-gradient(to bottom right,#002f4b,#dc4225);background-position:center 0;background-size:cover}
.counter_wrapper .box_center h3,.counter_wrapper .box_center h4{color:#fff;-webkit-transition:all .5s;-o-transition:all .5s;-ms-transition:all .5s;-moz-transition:all .5s;transition:all .5s}
.counter_wrapper .box_hover:hover{background:linear-gradient(to bottom right,#002f4b,#dc4225);background-size:cover;-webkit-transition:all .3s ease;-moz-transition:all .3s ease;-o-transition:all .3s ease;-ms-transition:all .3s ease;transition:all .3s ease}
.counter_wrapper .box_hover:hover h3,.box_hover:hover h4{color:#fff}
@media(max-width:768px){.counter_wrapper .col-md-4{margin-bottom:15px}}


.banner-area {
  height:700px;
  width:100%;
  margin-top:100px;
  background-image: url("story.jpg");
  background-position: center center;
  background-size: cover;

 
}
.button{
  margin-top: 30px;
  margin-left: 40px;
  width:300px;
}
.footer
{ margin-top: 60px;
  width:100%;
  height:950px;
  background-color:#05031C;
  position: relative;

}
.footer .footer-content{
  border:1px solid white hidden;
  height:300px;
  display:flex;

}
.footer-section img{

width:150px;
height:200px;
float:center;
margin-right:-305px;
}
.footer-section p{
  margin-top:10px;
  font-size: 15px;
  font-family:'Roboto',sans-serif;
  color:white;
  float:center;
  margin-right: -62px;
}
.footer-section .contact{
  margin-top:10px;
  float:left;
  color:white;
  font-size: 15px;
  font-family: 'Roboto',sans-serif;
  margin-left:-1em;
}
#rach{
  margin-top: 576px;
    margin-left: -18em;
}
#chandler{
  margin-top: 608px;
    margin-left: -37em;
}

.footer .footer-content .footer-section{
  flex:1;
  padding:25px;
  border:1px solid white hidden;
}
.footer-section h2{
 
  margin-top:30px;
font-size:30px;
font-family:'Roboto',sans-serif;
float:left;
color:white;
margin-top: 349px;
    margin-left: -7em;
}

.footer-section ul{
  margin-top: 370px;
    margin-left: -13em;
}
}

.footer-section ul li{

  font-family:'Roboto',sans-serif;
  float:left;
  color:white;
  margin-right:350px;
  text-decoration: underline;
  text-align:left;
     
}


.footer-section ul li a{
   text-align: left;
  float:left;
}
.footer-section .text-input{
  width:300px;
  margin-top:20px;
  margin-left:0px;
margin-right:200px;
  float:left;
}
.footer-section .btn{
  background-color:#100E47;
  width:90px;
  color:white;
 float:left;
 margin-left:-25em;
 text-align:center;
 margin-top:107px;
}
.footer-bottom{
  background-color:#09082B;

}

}